<%- include('partials/header') %>
   <%- include('partials/HomeNavbar') %>

      <body>
         <div class="container">
            <br>
            <div class="jumbotron">
               <h1 class="display-4">Welcome to BlogPress</h1>
               <p class="lead">Project developed for training and qualification on Node tools
                  and frameworks.</p>
               <hr class="my-4">
               <p>Welcome to BlogPress, the dynamic platform where user-generated content takes center stage! We are a vibrant community of passionate writers, each with unique perspectives and expertise, coming together to create a rich tapestry of articles. Whether you're an aspiring writer, a seasoned expert in your field, or simply someone with a story to tell, BlogPress welcomes you with open arms. Explore our diverse range of articles covering a wide array of topics, engage in thought-provoking discussions, and connect with like-minded individuals. Join us on this exciting journey of sharing knowledge, expressing ideas, and fostering a supportive community. Welcome to BlogPress, where your voice matters!</p>
               <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
            </div>

            <% articles.forEach(article=> { %>
               <div class="card">
                  <div class="card-header">
                     <h2>
                        <%= article.title%>
                     </h2>

                  </div>
                  <div class="card-body">
                     <a href="/<%=article.slug%>" class="btn btn-success">Read the article</a>
                  </div>
               </div>
               <br>
               <% }); %>

         </div>
      </body>

      <%- include('partials/footer') %>